<li >
	{{burger_name}}
{{#if devour}}
<span>----------------></span>
	<button class="change-devour btn btn-warning text-center justify-content-between align-items-center" style="marign-left: 100px;" data-id="{{id}}" data-newdevour="{{devour}}">
		Eat it!{{/if}}
	</button>

	
</li>
